<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel = 'stylesheet' href="../static/styles.css">
</head>
<body style='background-color:lightblue' >
    <h1>Results</h1>
{% for movie in movies %}
<form method="POST" action ='/add' id="submitMovie">
    <h4 id="{{movie['id']}}">
        {{movie['title']}}
    </h4>
    <button name ='movie_id' value="{{movie['id']}}">ADD TO WATCH-LIST</button>
</form>
{% endfor %}
</body>
</html>