<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watched Movies</title>
    <link rel = 'stylesheet' href="../static/styles.css">
</head>
<body style="background-color:lightblue;">
    <div id="watched_movies_title">
        <h1>Here Are Your Watched Movies</h1>
        {% for movie in all_watched_movies_list %}
        <h4 class="movie_title">
            {{movie['title']}}
        </h4>
        {% endfor %}
    </div>
    <form action = '/new'>
        <button class="back-home" name="back_home">Return Home</button>
    </form>
    
</body>
</html>